body {
  font-size: 1.125em;
  letter-spacing: 0.06em;
  padding: 2ch;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
}

[lang="ko"] {
  line-height: 1.15;
}

[lang="en"] {
  line-height: 0.875;
}

i {
  display: inline-block;
  transform: oblique;
}

p {
  margin-bottom: 1.5em;
}

section {
  width: 50%;
}

#logo {
  font-size: 1.125em;
  position: fixed;
  top: 30%;
  left: 20px;
  display: flex;
  line-height: 0.8;
}

#works-sample {
  padding-left: 1em;
  font-size: 0.8em;
}

.credit {
  margin-top: 1em;
}

.names {
  margin-left: 1em;
}
